.footer_content {
    color: rgb(54, 51, 51);
    font-size: 12px;
    margin: 0 auto !important;
    width: 100%;
    background: #e8dfd2 none repeat scroll 0 0;
    position: fixed;
    bottom: 0;
}

h3{
    background: rgb(211, 171, 171);
    font: bold 160% Calibri;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.9;
    font-weight: 900;
    border: 3px solid #777;
    border-radius: 40px;
}

h4{
    background: rgb(211, 171, 171);
    font: bold 140% Calibri;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.75;
    font-weight: 1000;
}

h5{
    background: rgb(211, 171, 171);
    font: bold 140% Calibri;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.7;
    font-weight: 600;
}



