#login {
    background: rgb(236, 216, 216);
    float: right;
    padding-left: 8px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.75;
    font-weight: 500;
    
}

.loginres{
    background: rgb(236, 216, 216);
    text-align: center;
    padding-left: 8px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.75;
    font-weight: 500;
}
